<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <!-- 监听器-->
    <listener>
        <listener-class>xin.pxyu.util.ListenerLoadConfig</listener-class>
    </listener>
    <filter>
        <filter-name>Counter</filter-name>
        <filter-class>xin.pxyu.util.Counter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Counter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- 匹配任意路径:匹配输入url错误的接口-->
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>xin.pxyu.servlet.Test</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    <!--通过type查任务接口-->
    <servlet>
        <servlet-name>taskByType</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByType</servlet-name>
        <url-pattern>/taskByType</url-pattern>
    </servlet-mapping>
    <!--通过tcreate_time查任务接口-->
    <servlet>
        <servlet-name>taskByTCreateTime</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByTCreateTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByTCreateTime</servlet-name>
        <url-pattern>/taskByTCreateTime</url-pattern>
    </servlet-mapping>
    <!--通过tend_time查任务接口-->
    <servlet>
        <servlet-name>taskByTEndTime</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByTEndTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByTEndTime</servlet-name>
        <url-pattern>/taskByTEndTime</url-pattern>
    </servlet-mapping>
<!--taskIncept以接收任务接口-->
    <servlet>
        <servlet-name>taskIncept</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskIncept</servlet-class>
    </servlet>
<servlet-mapping>
    <servlet-name>taskIncept</servlet-name>
    <url-pattern>/taskIncept</url-pattern>
</servlet-mapping>
    <!--taskCancel取消任务接口（假删除，将任务的状态改变status:2）-->
    <servlet>
        <servlet-name>taskCancel</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskCancel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskCancel</servlet-name>
        <url-pattern>/taskCancel</url-pattern>
    </servlet-mapping>
    <!--taskUpdate删修改任务接口-->
    <servlet>
        <servlet-name>taskUpdate</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskUpdate</servlet-name>
        <url-pattern>/taskUpdate</url-pattern>
    </servlet-mapping>
    <!--taskByTCreateId通过user_id查询任务接口-->
    <servlet>
        <servlet-name>taskByTCreateId</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByTCreateId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByTCreateId</servlet-name>
        <url-pattern>/taskByTCreateId</url-pattern>
    </servlet-mapping>
    <!--taskByTInceptId通过tend_id查询任务接口-->
    <servlet>
        <servlet-name>taskByTInceptId</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByTInceptId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByTInceptId</servlet-name>
        <url-pattern>/taskByTInceptId</url-pattern>
    </servlet-mapping>
    <!--newUser接口-->
    <servlet>
        <servlet-name>newUser</servlet-name>
        <servlet-class>xin.pxyu.servlet.newUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newUser</servlet-name>
        <url-pattern>/newUser</url-pattern>
    </servlet-mapping>
    <!--userUpdate接口-->
    <servlet>
        <servlet-name>userUpdate</servlet-name>
        <servlet-class>xin.pxyu.servlet.userUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userUpdate</servlet-name>
        <url-pattern>/userUpdate</url-pattern>
    </servlet-mapping>
    <!--getConditionalTasks 有条件获取任务接口-->
    <servlet>
        <servlet-name>getConditionalTasks</servlet-name>
        <servlet-class>xin.pxyu.servlet.getConditionalTasks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getConditionalTasks</servlet-name>
        <url-pattern>/getConditionalTasks</url-pattern>
    </servlet-mapping>
    <!--userByLocationId 通过userByLocationId接获取用户信息口-->
    <servlet>
        <servlet-name>userByLocationId</servlet-name>
        <servlet-class>xin.pxyu.servlet.userByLocationId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userByLocationId</servlet-name>
        <url-pattern>/userByLocationId</url-pattern>
    </servlet-mapping>
    <!--taskByTLocationId 通过tlocation_id查询任务信息-->
    <servlet>
        <servlet-name>taskByTLocationId</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByTLocationId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByTLocationId</servlet-name>
        <url-pattern>/taskByTLocationId</url-pattern>
    </servlet-mapping>
    <!--getTaskByLocationId 通过location_id查询该用户接受的 创建的任务信息-->
    <servlet>
        <servlet-name>getTaskByLocationId</servlet-name>
        <servlet-class>xin.pxyu.servlet.getTaskByLocationId</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getTaskByLocationId</servlet-name>
        <url-pattern>/getTaskByLocationId</url-pattern>
    </servlet-mapping>
    <!--newTask任务信息-->
    <servlet>
        <servlet-name>newTask</servlet-name>
        <servlet-class>xin.pxyu.servlet.newTask</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newTask</servlet-name>
        <url-pattern>/newTask</url-pattern>
    </servlet-mapping>
    <!--通过status查任务接口-->
    <servlet>
        <servlet-name>taskByStatus</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskByStatus</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskByStatus</servlet-name>
        <url-pattern>/taskByStatus</url-pattern>
    </servlet-mapping>
    <!--getAllUsers()获取所有用户接口-->
    <servlet>
        <servlet-name>getAllUsers</servlet-name>
        <servlet-class>xin.pxyu.servlet.getAllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllUsers</servlet-name>
        <url-pattern>/getAllUsers</url-pattern>
    </servlet-mapping>
    <!--taskInceptCancel  接收人取消接单任务-->
    <servlet>
        <servlet-name>taskInceptCancel </servlet-name>
        <servlet-class>xin.pxyu.servlet.taskInceptCancel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskInceptCancel </servlet-name>
        <url-pattern>/taskInceptCancel </url-pattern>
    </servlet-mapping>
    <!--taskAchieve 接收人完成接单任务-->
    <servlet>
        <servlet-name>taskAchieve</servlet-name>
        <servlet-class>xin.pxyu.servlet.taskAchieve</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>taskAchieve </servlet-name>
        <url-pattern>/taskAchieve </url-pattern>
    </servlet-mapping>
    <!--userExits  用户是否存在任务-->
    <servlet>
        <servlet-name>userExits</servlet-name>
        <servlet-class>xin.pxyu.servlet.userExits</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userExits </servlet-name>
        <url-pattern>/userExits</url-pattern>
    </servlet-mapping>
<!--userUpdateAddress-->
    <servlet>
        <servlet-name>userUpdateAddress</servlet-name>
        <servlet-class>xin.pxyu.servlet.userUpdateAddress</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>userUpdateAddress</servlet-name>
        <url-pattern>/userUpdateAddress</url-pattern>
    </servlet-mapping>
    <!--fileUpload文件上传接口-->
    <servlet>
        <servlet-name>fileUpload</servlet-name>
        <servlet-class>xin.pxyu.servlet.fileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUpload</servlet-name>
        <url-pattern>/fileUpload</url-pattern>
    </servlet-mapping>
    <!--fileUploads系统文件上传接口-->
    <servlet>
        <servlet-name>fileUploads</servlet-name>
        <servlet-class>xin.pxyu.servlet.fileUploads</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileUploads</servlet-name>
        <url-pattern>/fileUploads</url-pattern>
    </servlet-mapping>
    <!--newNews增加新闻接口-->
    <servlet>
        <servlet-name>newNews</servlet-name>
        <servlet-class>xin.pxyu.servlet.newNews</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newNews</servlet-name>
        <url-pattern>/newNews</url-pattern>
    </servlet-mapping>
    <!--newsUpdate更新新闻接口-->
    <servlet>
        <servlet-name>newsUpdate</servlet-name>
        <servlet-class>xin.pxyu.servlet.newsUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newsUpdate</servlet-name>
        <url-pattern>/newsUpdate</url-pattern>
    </servlet-mapping>
    <!--newsBySchool通过学校查询新闻接口-->
    <servlet>
        <servlet-name>newsBySchool</servlet-name>
        <servlet-class>xin.pxyu.servlet.newsBySchool</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newsBySchool</servlet-name>
        <url-pattern>/newsBySchool</url-pattern>
    </servlet-mapping>
    <!--newsByUploadTime通过新闻上传时间查询新闻接口-->
    <servlet>
        <servlet-name>newsByUploadTime</servlet-name>
        <servlet-class>xin.pxyu.servlet.newsByUploadTime</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newsByUploadTime</servlet-name>
        <url-pattern>/newsByUploadTime</url-pattern>
    </servlet-mapping>
    <!--newNews增加系统公告接口-->
    <servlet>
        <servlet-name>newSystemMessage</servlet-name>
        <servlet-class>xin.pxyu.servlet.newSystemMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newSystemMessage</servlet-name>
        <url-pattern>/newSystemMessage</url-pattern>
    </servlet-mapping>
    <!--systemMessageUpdate更新系统公告接口-->
    <servlet>
        <servlet-name>systemMessageUpdate</servlet-name>
        <servlet-class>xin.pxyu.servlet.systemMessageUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>systemMessageUpdate</servlet-name>
        <url-pattern>/systemMessageUpdate</url-pattern>
    </servlet-mapping>
    <!--systemMessageById通过id查询系统公告接口-->
    <servlet>
        <servlet-name>systemMessageById</servlet-name>
        <servlet-class>xin.pxyu.servlet.systemMessageById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>systemMessageById</servlet-name>
        <url-pattern>/systemMessageById</url-pattern>
    </servlet-mapping>
    <!--getSystemMessage系统公告查询系统公告接口-->
    <servlet>
        <servlet-name>getSystemMessage</servlet-name>
        <servlet-class>xin.pxyu.servlet.getSystemMessage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSystemMessage</servlet-name>
        <url-pattern>/getSystemMessage</url-pattern>
    </servlet-mapping>
    <!--getAllTasks,,,查询所有任务-->
    <servlet>
        <servlet-name>getAllTasks</servlet-name>
        <servlet-class>xin.pxyu.servlet.getAllTasks</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllTasks</servlet-name>
        <url-pattern>/getAllTasks</url-pattern>
    </servlet-mapping>
    <!--adminLogIn管理员登陆接口-->
    <servlet>
        <servlet-name>adminLogIn</servlet-name>
        <servlet-class>xin.pxyu.servlet.adminLogIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminLogIn</servlet-name>
        <url-pattern>/adminLogIn</url-pattern>
    </servlet-mapping>
    <!--adminSignIn管理员登陆接口-->
    <servlet>
        <servlet-name>adminSignIn</servlet-name>
        <servlet-class>xin.pxyu.servlet.adminSignIn</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>adminSignIn</servlet-name>
        <url-pattern>/adminSignIn</url-pattern>
    </servlet-mapping>
    <!--newSuggestion增加系统公告接口-->
    <servlet>
        <servlet-name>newSuggestion</servlet-name>
        <servlet-class>xin.pxyu.servlet.newSuggestion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>newSuggestion</servlet-name>
        <url-pattern>/newSuggestion</url-pattern>
    </servlet-mapping>
    <!--suggestionUpdate更新系统公告接口-->
    <servlet>
        <servlet-name>suggestionUpdate</servlet-name>
        <servlet-class>xin.pxyu.servlet.suggestionUpdate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>suggestionUpdate</servlet-name>
        <url-pattern>/suggestionUpdate</url-pattern>
    </servlet-mapping>
    <!--suggestionById通过id查询系统公告接口-->
    <servlet>
        <servlet-name>suggestionById</servlet-name>
        <servlet-class>xin.pxyu.servlet.suggestionById</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>suggestionById</servlet-name>
        <url-pattern>/suggestionById</url-pattern>
    </servlet-mapping>
    <!---getAPI获得所有接口的接口-->
    <servlet>
        <servlet-name>getAPI</servlet-name>
        <servlet-class>xin.pxyu.servlet.getAPI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAPI</servlet-name>
        <url-pattern>/getAPI</url-pattern>
    </servlet-mapping>
    <!---getAllApi获得所有接口的接口-->
    <servlet>
        <servlet-name>getAllApi</servlet-name>
        <servlet-class>xin.pxyu.servlet.getAllApi</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllApi</servlet-name>
        <url-pattern>/getAllApi</url-pattern>
    </servlet-mapping>
</web-app>